/*----------------
   RESET
---------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*-----------
   CUSTOM PROPRIETIS
---------------*/


/*-----------
   DEBUG
---------------*/




/*-----------
   TYPOGRAPHY
---------------*/
body{
    font-family: "Montserrat", sans-serif;
}

/*-----------
   COMMONS
---------------*/


/*-----------
   HEADER
---------------*/

/*-----------
   MAIN
---------------*/

/*-----------
   FOOTE
---------------*/

