/*----------------
   RESET
---------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*-----------
   CUSTOM PROPRIETIS
---------------*/
:root{
   --main_padding:15px 0 0 0;
   --secondary_padding:0 0 16px 0;
   --text-weight:700;
}

/*-----------
   DEBUG
---------------*/




/*-----------
   TYPOGRAPHY
---------------*/
body{
    font-family: "Montserrat", sans-serif;
    background-color:#f6f5f3;
}

h1{
    font-family: "Nerko One", cursive;
    text-shadow: 2px 2px 4px grey;
    color: #ff9614;
    font-size: 36px;
}

h2{
    color: #4e3969;
    font-size: 24px;
    padding:var(--main_padding);
}

h3{
    font-weight: 200;
    font-size: 12px;
    color: gray;
    padding:var(--main_padding);
}

h4{
    font-size: 18px;
}



/*-----------
   COMMONS
---------------*/
 .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
 }

 .row{
    display: flex;
    flex-direction: column;
 }

 ul{
    list-style: none;
 }

 a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
 }
  

/*-----------
   HEADER
---------------*/
header{
    background-color:#fff;
    padding: 10px 16px;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

/*-----------
   MAIN
---------------*/

/*-Section recipe-*/

.title-recipe span{
   display: none;
}

#recipe .col-video , .col-details{
    width: 100%;
    padding: var(--main_padding);
}

.col-video img{
    width: 100%;
}

.col-details{
    background-color: #fff;
    padding-bottom: 16px;
    padding-left:20px;
    padding-right: 20px;
}

    
.col-details li{
    padding: var(--main_padding);
}

.col-details li> span{
    font-weight: var(--text-weight);
}

/*---micro section link--*/

.social-link{
   margin: 30px 0;
}

.social-link ul{
    display: flex;
    justify-content: space-between;
}

 .social-link li> a {
    padding: 10px 20px;
    background-color: white;
    font-size: 14px;
    font-weight: var(--text-weight);
    border-radius: 18px;
 }

 .social-link a> span{
    display: none;
 }

 .social-link li:nth-child(1) i{
  color: #1a77f3;
 }

 .social-link li:nth-child(2) i{
    color: #009eff;
   }

   .social-link li:nth-child(3) i{
    color: #dc3d78;
   }

   .social-link li:nth-child(4) i{
    color: #e62222;
   }

   .social-link li:nth-child(5) i{
    color: #e62222;
   }


   /*--banner--*/
   .banner{
    margin-bottom: 30px;
    display: none;
   }

   .banner img{
    width: 100%;
   }

   

 
/*-----------
   FOOTER
---------------*/

/*------------------------------------------
   RESPONSIVE                      DESIGN
---------------------------------------------*/

/* tablet */

@media screen and (min-width:768px) {

/*--commons----*/

  .container{
    padding: 0 60px;
  }

  /*--header----*/
    header{
        text-align: left;
    }

  /*--main----*/

    .title-recipe span{
        display:inline-block;
     }
     
     .col-details ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 0;
     }

     .col-details ul> li {
        padding-right: 54px;
        padding-top: 40px ;
     }
     
     .col-details ul> li:nth-child(4) {
        padding-right: 42px;
     }

     .social-link li> a {
        padding: 12px 52px;
      }

      .banner{
        display: block;
      }
}

/* desktop */

@media screen and (min-width:992px) {

    /* typography */

    h1{
        font-size: 38px;
    }

    h2{
        
        font-size: 40px;
        padding:var(--main_padding);
    }
     
    h4{
        font-size: 16px;
        padding: 24px 0;
    }

    .col-details ul>li{
        font-size: 12px;
    }

    /*----commons-------*/
  

    .container{
    padding: 0 100px;
 }

 .row{
    display: flex;
    flex-direction: row;
 }

    /*--main----*/
    #recipe .col-video {
        width: 70%;
        
}
    
#recipe .col-details{
    width: 30%;
    padding-top: 0;
    margin-top: 16px;     
 
  }

   .col-details ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    
  
 }

 .col-details ul> li {
    padding-right:0px;
    padding-top: 10px;
 }

 .col-details ul>li:nth-child(1){
     padding: 0;
 }

 .social-link li> a {
    padding: 10px 28px;
  }

 .social-link a> span{
    display:inline;

 }



    

     }

